:root {
  font-family: 'Rowdies', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
}

html,
body {
  display: grid;
  margin: 3px;
  padding: 0;
  background-image: url(./assets/starry.gif);
  background-size: initial;
  background-attachment: fixed;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 2.3vw;
}
.header {
  grid-row: 1;
  grid-column: span 2;
  display: flex;
  align-items: center;
  height: 125px;
  background-color: #21167d;
  color: aliceblue;
  justify-content: center;
  margin-top: 2vw;
  border-radius: 25%;
}

#welcome {
  font-family: 'Rowdies';
  border-bottom: 2px black solid;
}

.about {
  grid-row: 2;
  grid-column: 1;
  width: 54vw;
  background-color: #21167d;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw;
  border-radius: 10%;
}

.contact {
  grid-row: 2;
  grid-column: 2;
  width: fit-content;
  height: fit-content;
}

.contactTitle {
  display: flex;
  background-color: #21167d;
  color: aliceblue;
  margin-right: 2vw;
  padding: 12px;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}
.linkList {
  display: flex;
  background-color: #21167d;
  color: aliceblue;
  width: 23vw;
  flex-direction: column;
  padding-top: 2vw;
  padding-bottom: 3vw;
  list-style: none;
  border-radius: 10%;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.project {
  background-color: #21167d;
  height: 300px;
  width: 300px;
  border: 2px solid black;
}
